{
  "servername": "Warzone",
  "serverwebsite": "https://warzone.network/",
  "serverip": "play.craftingforchrist.net",
  "serverdiscord": "https://warz.one/discord",

  "discordToken": "xxx",
  "discordPrefix": "!",
  "apiUrl": "https://api.warzone.network",
  "apiid": "warzone",
  "evalers": ["id1", "id2"],

  "gameMessage": false
}
